<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atlantbh.mymoviesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MovieListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DetailsActivity" />
        <activity android:name=".activities.ActorActivity" />
        <activity
            android:name=".activities.VideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.LoginActivity"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8fc51e8e71bd737ccdce4f93029f758816dc69fe" />
    </application>

</manifest>
